@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(circle at top right, #f2ede5 0%, #faf8f5 45%), #faf8f5;
    color: #1c1d21;
    font-family: "Satoshi", sans-serif;
}
